---
import Layout from "../layouts/Layout.astro";
import Render3D from "../components/Render3D.astro";
---

<Layout title="Helmet render">
	<main>
		<Render3D />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
